:root {
    --background: #ABFAA9;
    --text: #254441;
    --buttons: #EF3054;
    --header: #FF6F59;
    --buttons_active: #61304B;
}


.standartBox {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    margin: 1vh;
    height: 7vh;
    width: 30%;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;

}

html,
body {
    margin: 0;
    height: 100%;
    font-size: 100%;
    background: var(--background);
    font-family: 'Oswald', sans-serif;
}

.Header {
    width: 100%;
    min-height: 10vh;
    background-color: var(--header);
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 6vh;
    visibility: hidden;
    display: none;
    overflow: hidden;
}

.buttons {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    margin: 2vh;
    height: 15vh;
    width: 15vh;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.button {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    width: 15vh;
    min-height: 8vh;
    margin: 2vh;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.Page-Wrapper {
    width: 100%;
    height: 100%;
    visibility: hidden;
    display: none;

}

@keyframes mymove {
    from {
        background-color: #254441
    }

    to {
        background-color: #EF3054
    }

}

.orderDividerLengthLine {
    width: 100%;
    height: 1vh;
    background-color: var(--header);

}

.orderDividerText {
    font-family: 'Oswald', sans-serif;
    color: var(--header);
    font-size: 2vh;
    margin-left: 2vh;
}

.loading_c {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: black;
    width: 75%;
    height: 10%;
    display: flex;
    align-items: center;
    border: 2vh;
    border-color: var(--header);
    border-style: solid;

}

.Bar {
    align-items: stretch;
    height: 100%;
    width: 0%;
    background-color: var(--text);
    font-size: 4vh;
    overflow: hidden;
    display: flex;
    align-items: center;
}

.bar_child {
    align-items: stretch;
    background-color: var(--text);
    font-size: 4vh;
    margin: 1vh;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 2vh;
    background: var(--text);
    outline: none;
    opacity: 1;
}


.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 8vh;
    height: 4vh;
    background: var(--buttons);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 8vh;
    height: 4vh;
    background: var(--buttons);
    cursor: pointer;
}
