:root {
    --background: #ACF7C1;
    --text: #DDFFF7;
    --buttons: #857C8D;
    --header: #5C0029;
    --buttons_active: #61304B;
}


html,
body {
    margin: 0;
    height: 100%;
    
    font-size: 100%;
    background: var(--background);
    font-family: 'Oswald', sans-serif;
}

#box {
    margin-top: 2em;
    margin-bottom: 2em;
}

h1 {
    margin-top: 0;
}

img {
    max-width: 100%;
}

#fileDisplayArea {
    margin-top: 2em;
    width: 100%;
    overflow-x: auto;
}

.row {
    display: flex;
    margin: 1vh;
}

.column {
    margin: 0.2vh;
    flex: 50%;
}

.container {
    width: 80%;
    min-height: 400px;
    margin: 0 auto;
    overflow: hidden;
}

.font-c-light {
    color: #aaa;
}

.header,
.footer {
    width: 100%;
    min-height: 10vh;
    margin-bottom: 2vh;
    background-color: var(--header);
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 6vh;
}

a {
    text-decoration: none;
    color: rgba(230, 0, 0, 1)
}

.buttons {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    margin: 2vh;
    height: 15vh;
    width: 15vh;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.button {
    font-family: 'Oswald', sans-serif;
    vertical-align: top;
    background-color: var(--buttons);
    width: 15vh;
    min-height: 8vh;
    margin: 2vh;
    border: none;
    color: var(--text);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000;
}

.input {
   font-family: 'Oswald', sans-serif;
    vertical-align: top;
    width: 15vh;
    min-height: 8vh;
    margin: 2vh;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 2vh;
    cursor: pointer;
    border-radius: 0.4vh;
    z-index: 1000
}

.Page-Wrapper {
    width: 100%;
    height: 100%;

}

@keyframes mymove {
    from {
        background-color: #61304B
    }

    to {
        background-color: #857C8D
    }

}

.orderDividerLengthLine {
    width: 100%;
    height: 1vh;
    background-color: var(--header);
    
}

.orderDividerText {
    font-family: 'Oswald', sans-serif;
    color: var(--header);
    font-size: 2vh;
    margin-left: 2vh;
}


